<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Cadastro</title>
</head>
<body>
<header>
    <H1>
    Cadastro de Produtos
    </H1>
    <nav>
        <a href="/">Home</a>
        <a href="/vendas">Vendas</a>
        <a href="/projecao">Projeção de Vendas</a>
    </nav>
    <form id="formProdutos">
        <input type="text" id="nomeProduto" placeholder="Nome do Produto">
        <input type="number" placeholder="Preço do Produto" step="0.01">
        <input type="number" placeholder="Quantidade">
        <button type="submit">Cadastrar Produto</button>
    </form>
</header>
    <main>
<section>

    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="listaProdutos">
            <!-- Produtos cadastrados aparecerão aqui -->
        </tbody>
    </table>
    </main>
</section>

<footer>
    <p>
        2025 Projeto semestral da faculdade 
    </p>
</footer>
<script src="/cadastro.js"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
function mostrarToast(msg, tipo = "success") {

    const cores = {
        success: "#28a745",
        error: "#dc3545",
        warning: "#ffc107"
    };

    const tempo = 3000;

    Toastify({
        text: msg,
        duration: tempo,
        gravity: "top",
        position: "right",
        close: true,
        backgroundColor: "#ffffff",
        stopOnFocus: true,
        className: "toast-custom",
        style: {
            color: "#333",
            boxShadow: "0 4px 12px rgba(0,0,0,0.15)",
            borderRadius: "8px",
            borderLeft: `6px solid ${cores[tipo]}`
        },
        onClick: function(){}
    }).showToast();

    criarBarraTempo(3000, cores[tipo]);
}


function criarBarraTempo(tempo, cor) {
    const toast = document.querySelector(".toast-custom");

    const barra = document.createElement("div");
    barra.classList.add("toast-barra");

    barra.style.background = cor;
    barra.style.animation = `tempo ${tempo}ms linear forwards`;

    toast.appendChild(barra);
}
</script>


</body>
</html>