<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h1>Cadastro de Produtos</h1>
        <nav>
            <lu><a href="/cadastro">Cadastro de Produtos</a></lu>
            <lu><a href="/vendas">Vendas</a></lu>
            <lu><a href="/projecao">Projeção de vendas</a></lu>
        </nav>
        
    </header>
    <main>
        <h2>
            Bem-vindo ao sistema de cadastro de produtos!
        </h2>
        
        <p>Bem-vindo ao sistema de cadastro de produtos!  
        Aqui você pode cadastrar, editar e acompanhar todos os produtos da sua loja ou estoque.  
        Use o menu acima para navegar entre as páginas de cadastro, vendas e projeção de vendas.
        </p>
        
    </main>
    <footer>
        <p>
            2025 Projeto semestral da faculdade 
        </p>
    </footer>
</body>
</html>