<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Vendas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <H1>Pagina de Vendas</H1>
    <nav>
        <a href="/">Home</a>
        <a href="/cadastro">Cadastro de Produtos</a>
        <a href="/projecao">Projeção de Vendas</a>
    </nav>

    <form id="formProdutos">
        <input id="inputNome" type="text" placeholder="Nome do Produto" required>
        <input id="dataVenda" type="month" placeholder="Data da Venda" required>
        <input id="quantidade" type="number" placeholder="Quantidade" required>
        <button type="submit">Procurar produto</button>
    </form>
</header>
   
<main>
<section>
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Data da Venda</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody id="listaProdutos">
<!-- Produtos vendidos aparecerão aqui. -->
        </tbody>
    </table>
</section>
</main>

<footer>
    <p>
        2025 Projeto semestral da faculdade 
    </p>
</footer>
    <script src="/vendas.js"></script>
</body>
</html>
