<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Pagina de Vendas</title>
</head>
<body>
<header>
    <H1>Pagina de Vendas</H1>
    <nav>
        <a href="/">Home</a>
        <a href="/cadastro">Cadastro de Produtos</a>
        <a href="/projecao">Projeção de Vendas</a>
    </nav>

    <form id="formProdutos">
        <h3>Venda (Caixa)</h3>
        <input id="cliente" type="text" placeholder="Nome do cliente" required>
        <input id="inputNome" type="text" placeholder="Nome do Produto">
        <input id="dataVenda" type="month" placeholder="Data da Venda" required>
        <input id="quantidade" type="number" placeholder="Quantidade">
        <button id="addItem" type="button">Adicionar ao carrinho</button>
        <button type="submit">Registrar Produto</button>
        <h2 id="tituloCarrinho">Carrinho</h2>

        <table>
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Qtd</th>
                    <th>Precos</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody id="listaCarrinho"></tbody>
        </table>
        <h3>Pagamentos</h3>
        <p>Total: R$ <span id="totalCompra">0.00</span></p>

        <input id="dinheiroRecebido" type="number" placeholder="Dinheiro recebido">
        <button id="finalizarVenda" type="button">Finalizar Venda</button>
    </form>
</header>
   
<main>
<section>
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Nome cliente</th>
                <th>Data da Venda</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody id="listaProdutos">
        </tbody>
    </table>
</section>
</main>

<footer>
    <p>
        2025 Projeto semestral da faculdade 
    </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
function mostrarToast(msg, tipo = "success") {
    
    const cores = {
        success: "#28a745",
        error: "#dc3545",
        warning: "#ffc107"
    };
    
    const tempo = 3000;
    
    Toastify({
        text: msg,
        duration: tempo,
        gravity: "top",
        position: "right",
        close: true,
        backgroundColor: "#ffffff",
        stopOnFocus: true,
        className: "toast-custom",
        style: {
            color: "#333",
            boxShadow: "0 4px 12px rgba(0,0,0,0.15)",
            borderRadius: "8px",
            borderLeft: `none`
        },
        onClick: function(){}
    }).showToast();
    
    criarBarraTempo(3000, cores[tipo]);
}
</script>

<script>
function mostrarNotaToast(texto) {
    Toastify({
        text: texto,
        duration: 4000,
        gravity: "top",
        position: "right",
        close: true,
        stopOnFocus: true,
        className: "toast-custom confirm-toast",
        style: {
            background: "#fff",
            color: "#333",
            whiteSpace: "pre-line",
            maxWidth: "420px",
            fontFamily: "monospace"
        }
    }).showToast();

    criarBarraTempo(4000, "#28a745");
}
</script>

<script>
function criarBarraTempo(tempo, cor) {

    // pega o último toast realmente criado
    const toasts = document.querySelectorAll(".toast-custom");
    const toast = toasts[toasts.length - 1];

    if (!toast) return;

    const barra = document.createElement("div");
    barra.className = "toast-barra";
    
    barra.style.backgroundColor = cor;

    barra.style.position = "absolute";
    barra.style.bottom = "0";
    barra.style.right = "0";
    barra.style.height = "4px";
    barra.style.width = "100%";

    barra.style.animation = `tempo ${tempo}ms linear forwards`;

    toast.style.position = "relative";
    toast.appendChild(barra);
}
</script>

<script src="/vendas.js"></script>
</body>
</html>
