<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Vendas</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <H1>Pagina de Vendas</H1>
    <nav>
        <a href="/">Home</a>
        <a href="/cadastro">Cadastro de Produtos</a>
        <a href="/projecao">Projeção de Vendas</a>
    </nav>

    <form id="formProdutos">
        <h3>Venda (Caixa)</h3>
        <input id="cliente" type="text" placeholder="Nome do cliente" required>
        <input id="inputNome" type="text" placeholder="Nome do Produto" required>
        <input id="dataVenda" type="month" placeholder="Data da Venda" required>
        <input id="quantidade" type="number" placeholder="Quantidade" required>
        <button id="addItem">Adicionar ao carrinho</button>
        <button type="submit">Registrar Produto</button>
        <h2 id="tituloCarrinho">Carrinho</h2>

        <table>
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Qtd</th>
                    <th>Precos</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody id="listaCarrinho"></tbody>
        </table>
        <h3>Pagamentos</h3>
        <p>Total: R$ <span id="totalCompra">0.00</span></p>

        <input id="dinheiroRecebido" type="number" placeholder="Dinheiro recebido">
        <button id="finalizarVenda">Finalizar Venda</button>
    </form>
</header>
   
<main>
<section>
    <table>
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Nome cliente</th>
                <th>Data da Venda</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody id="listaProdutos">
<!-- Produtos vendidos aparecerão aqui. -->
        </tbody>
    </table>
</section>
</main>

<footer>
    <p>
        2025 Projeto semestral da faculdade 
    </p>
</footer>
    <script src="/vendas.js"></script>
</body>
</html>
