/* CSS da pagina Prindipal */
header{
    text-align: center;
    margin: 20px;
    background-color: #303030cb;
    padding: 10px;
    border-radius: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
header nav{
    text-align: left;
    margin-left: 20px;
    display: inline-block;
}
header h1{
    font-size: 36px;
    margin: 10px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition-duration: 0.6s;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(2, 170, 248);
    margin: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2)  ;
}
header a:hover{
    color: #303030cb;
    font-weight: bold;
}
main {
    background-color: rgb(2, 170, 248);
    margin: 60px;
    padding: 60px;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
footer{
    text-align: center;
    padding: 15px;
    background:#161616cb ;
    color: #fff;
    font-size: 11px;
    border-radius: 16px;
    position: static;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.288);
}
/* CSS da pagina de cadastro */
form{
    display: flex;
    flex-wrap: wrap;
    max-width: auto;
    margin: 30px;
    
}
input, button, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
    margin: 5px;
}

table{
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
}

tr, th, td{
    border:3px solid #ddd;
    border-radius: 12px;
    padding: 8px;
    
    text-align: center;
}
/* CSS da pagina de vendas */
section{
    background-color: rgb(2, 170, 248);
    margin: 60px;
    padding: 60px;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

button{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.4s;
}
/* CSS da pagina de projeção */
#formProdutos {
    position: relative;
}

#formProdutos input[type="text"]{
    position: relative;
}

.autocomplete-box {
    position: absolute;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
}

.autocomplete-box div {
    padding: 10px;
    cursor: pointer;
    color: #000;
}

.autocomplete-box div:hover {
    background: #27a800;
    color: rgb(0, 184, 61);
}
